.offers {
  background-color: #ffffff;
  height: calc(100dvh); /* Adjust as needed */
  overflow: auto;
  position: relative;
  width: 100%;
}
.offer-terms-list {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 14px;
  color: #333;
}

.offer-terms-list li {
  margin-bottom: 6px;
  line-height: 1.5;
}

.offers .offers-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}
.offers a {
  text-decoration: none;
}

.offers .offers-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 72px;
}

.offers .frame {
  align-items: flex-end;
  display: flex;
  gap: 13px;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.offers .frame-wrapper {
  align-items: flex-end;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eff1f4;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #0000001a;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  position: relative;
}

.offers .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  padding: 10px;
  position: relative;
}

.offers .rectangle {
  object-fit: cover;
  position: relative;
  width: 100%;
}

.offers .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.offers .text-wrapper {
  color: #181818;
  font-family: "Outfit", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18.8px;
  margin-top: -1px;
  position: relative;
  width: 100%;
}

.offers .p {
  color: #8c8c8c;
  font-family: "Outfit", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 100%;
}

.offers .div-wrapper {
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 40px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  height: 5px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 24px;
  position: relative;
  cursor: pointer;
}

.offers .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.offers .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.offers .vector {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 8px;
}

.offers .frame-4 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eff1f4;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #0000001a;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  overflow: hidden;
  padding: 11px 8px;
  position: relative;
}

.offers .img {
  align-self: stretch;
  height: 96px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.offers .text-wrapper-3 {
  -webkit-box-orient: vertical;
  color: #181818;
  display: -webkit-box;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  letter-spacing: 0;
  line-height: 21.5px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 139px;
}

.offers .text-wrapper-4 {
  color: #8c8c8c;
  font-family: "Outfit", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 139px;
}

.offers .frame-5 {
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
}

.offers .frame-6 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  height: 16px;
  position: relative;
}

.offers .text-wrapper-5 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.offers .rectangle-2 {
  height: auto;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.offers .frame-7 {
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  width: 139px;
}

.offers .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  height: 16px;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
}

.offers .overlap {
  background: url(./bg.svg);
  height: 133px;
  left: -86px;
  position: absolute;
  top: -23px;
  width: 532px;
}

.offers .group-wrapper {
  background-color: #f6f2fe;
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 532px;
}

.offers .group {
  height: 133px;
  position: relative;
}

.offers .group-2 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 265px;
}

.offers .rectangle-3 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.offers .overlap-group {
  height: 134px;
  left: 66px;
  position: absolute;
  top: -1px;
  width: 199px;
}

.offers .rectangle-4 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 66px;
}

.offers .rectangle-5 {
  height: 66px;
  left: 66px;
  position: absolute;
  top: 67px;
  width: 66px;
}

.offers .rectangle-6 {
  border: 1.97px solid;
  border-color: #ffffff;
  border-radius: 0px 163.93px 163.93px 0px;
  height: 68px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 68px;
}

.offers .group-3 {
  background-image: url(./union.svg);
  background-size: 100% 100%;
  height: 67px;
  left: 132px;
  position: absolute;
  top: 1px;
  width: 66px;
}

.offers .group-4 {
  height: 66px;
  left: 132px;
  position: absolute;
  top: 68px;
  width: 66px;
}

.offers .ellipse {
  height: 66px;
  left: 0;
  position: absolute;
  top: 67px;
  width: 66px;
}

.offers .group-5 {
  height: 66px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 66px;
}

.offers .group-6 {
  height: 133px;
  left: 267px;
  position: absolute;
  top: 0;
  width: 265px;
}

.offers .group-7 {
  background-image: url(./image.svg);
  background-size: 100% 100%;
  height: 67px;
  left: 132px;
  position: absolute;
  top: 1px;
  width: 66px;
}

.offers .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 342px;
  position: absolute;
  top: 63px;
}

.offers .img-wrapper {
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 0px 10px #0000001a;
  height: 40px;
  position: relative;
  width: 40px;
}

.offers .img-2 {
  height: 20px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 20px;
}

.offers .image {
  height: 41px;
  left: 114px;
  position: absolute;
  top: 65px;
  width: 60px;
}

.offers .text-wrapper-6 {
  color: #181818;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 157px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 74px;
  width: 57px;
}

.offers .frame-10 {
  align-items: center;
  display: inline-flex;
  gap: 253px;
  left: 102px;
  position: absolute;
  top: 33px;
}

.offers .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.offers .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.offers .solid-system-battery {
  height: 20px;
  position: relative;
  width: 20px;
}

.offers .line-system-wifi {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 15px;
}

.offers .overlap-wrapper {
  height: 40px;
  position: relative;
  background-color: white;
  z-index: 99;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.offers .overlap-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000014;
  border-radius: 24px;
  height: 40px;
  position: relative;
  width: 327px;
}

.offers .overlap-group-2 {
  background-color: #1e1e1e;
  border-radius: 24px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 168px;
}

.offers .text-wrapper-8 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.offers .text-wrapper-9 {
  color: #181818;
  font-family: "Outfit", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 50%;
}

.offers .view-more-button {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offers .view-more-button:hover {
  background-color: #333; /* Darker shade on hover */
}

/* Styles for the no more offers text */

.offers .no-more-offers-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666; /* Subtle gray color */
}

.offers .header-container {
  display: flex;
  background: url(./bg.svg);
  height: 12%;

  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.offers .logo-image {
  height: auto; /* Adjust as needed */
  width: 60px;
}

.offers .actions-container {
  display: flex;
  gap: 10px; /* Adjust spacing between icons as needed */
}

.offers .action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0px 0px 10px #0000001a;
  height: 40px;
  position: relative;
  width: 40px;
}

.offers .action-icon {
  height: 24px; /* Adjust size of the icons as needed */
  width: auto;
}

.offers .p-margin {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.offers-container > :nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}

@media only screen and (min-width: 700px) {
  .offers .overlap-wrapper {
    justify-content: flex-start;
    padding-left: 5%;
    width: 95%;
  }
  .offers .offers-item {
    margin-left: 5%;
  }

  .offers .offers-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(
      2,
      auto
    ); /* Create 4 columns of equal width */
    grid-template-rows: repeat(
      4,
      auto
    ); /* Create 2 rows with automatic height */
    gap: 20px; /* Space between grid items */
    padding: 20px;
    position: relative;
  }

  .offers .offers-item {
    display: flex;
    flex-direction: column; /* Keep internal structure of each item */
    gap: 10px; /* Space between internal child elements */
    padding: 10px; /* Optional: Add padding to individual items */
  }

  .offers .margin-bottom-spacing {
    margin-bottom: 40px;
  }
}
