.select-prescription {
  background-color: hsl(0, 0%, 100%);
  height: calc(100dvh);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.select-prescription .text-wrapper {
  color: #222222;
  font-family: "Outfit", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  margin: 20px 0;
  text-align: center;
}

.select-prescription .button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  margin-top: 20px;
}

/* Flex container for 2-column grid */
.select-prescription .prescription-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust this as needed */
}

.select-prescription .grid-item {
  flex: 0 1 50%; /* 50% width minus gap for 2 columns */
  box-sizing: border-box; /* Ensures padding and border are included in width */
  width: 95%;
  margin: 10px 0;
}

.select-prescription .frame-6 {
  width: 100%;
  text-align: center;
}

/* Updated prescription item styles */
.select-prescription .frame-5 {
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #eff1f4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 16px 12px;
  margin: auto;
  width: 140px; /* Adjust width for grid layout */
}

/* Image within prescription item */
.select-prescription .rectangle-2 {
  height: 124px;
  object-fit: cover;
  width: 124px;
}

.select-prescription .frame {
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 56px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0 25px;
}

.select-prescription .div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.select-prescription .text-wrapper-2 {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 20px;
  font-weight: 400;
}

.select-prescription .img {
  animation: moveArrow 1s linear infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.select-prescription input[type="radio"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #888888;
  border-radius: 12px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  position: relative;
}

.select-prescription input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3fc55d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-prescription .text-head{
  text-align: center;
  width: calc(100% - 100px);
  margin: 0 50px;
  margin-bottom: 20px;
}

.select-prescription .text-link {
  cursor: pointer;
  text-decoration: underline;
  color: grey;
}

@media only screen and (min-width: 700px) {
  .select-prescription .prescription-grid {
    margin: 0 5%;
    justify-content: flex-start;
  }
  .select-prescription .grid-item {
    flex: 0 1 20%; /* 50% width minus gap for 2 columns */
    margin: 30px 0;
  }
}
